<ion-list *ngIf="itemsList.length> 0;else NoItem">
    <ion-item class="items_list" #itemRef *ngFor="let item of itemsList">
        <ion-label>
            <div class="item_layout">
                <div class="item_layout_details">
                    <span>
                        {{item.ItemName}}
                    </span>
                    <span>
                        {{item.ItemQuantity}}
                    </span>
                    <span>
                        {{item.ItemType}}
                    </span>
                </div>
                <!-- <ion-buttons (click)="showMenu($event)" slot="primary">
                    <ion-button> -->
                <ion-icon slot="icon-only" (click)="showMenu($event)" ios="ellipsis-horizontal" md="ellipsis-vertical">
                </ion-icon>
                <!-- </ion-button>
                </ion-buttons> -->
            </div>

        </ion-label>
    </ion-item>
</ion-list>
<ng-template #NoItem>
    <h2 color="warning">
        No Item
    </h2>
</ng-template>