<ion-content fullscreen>



  <div class="login_container">
    <h2> {{isNewUser?'Register':'Login'}}</h2>
    <form [formGroup]="loginForm">
      <ion-item *ngIf="isNewUser">
        <ion-label position="fixed">Name</ion-label>
        <ion-input formControlName="DisplayName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Email</ion-label>
        <ion-input formControlName="Email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Password</ion-label>
        <ion-input formControlName="Password" type="password"></ion-input>
      </ion-item>
      <br>
      <div class="auth_button_wrapper">
        <ion-button (click)="handeAuthentication(loginForm.value)" color="light" size="small">
          {{isNewUser?'Register':'Login'}}
        </ion-button>
        <a class="a_link" (click)="isNewUser = !isNewUser">{{isNewUser?'Login':'Exist User'}}</a>
      </div>
    </form>
    <!-- <ion-button disabled (click)="authService.googleSignin()" color="light" size="small">
      <ion-icon class="i_google" name="logo-google"></ion-icon>
      Login
    </ion-button> -->
  </div>
</ion-content>